<tr>
  <td class="fs-12 nowrap w-150px">
    <%= turbo_frame_tag "row-#{row.id}" do %>
      <%= link_to row.metric.name, row_path(row), data: {turbo_frame: "row-#{row.id}", action: "turbo:click->sections#update", section: row.section.id}, class: "block pl-20 pr-10 pt-5 pb-5 fc-black" %>
    <% end %>
  </td>

  <% row.entries.each do |entry| %>
    <td>
      <% if entry.calc && !entry.value %>
        <span class="fs-14 text-end w-100 block pl-10 pr-10 pt-5 pb-5">
          <%= entry.calc %>
        </span>
      <% else %>
        <%= simple_form_for([@sheet, entry]) do |f| %>
          <%= f.input_field :value, class: "border-2l w-100 pl-10 pr-10 pt-5 pb-5 text-end bg-1l fc-5n" %>
        <% end %>
      <% end %>
    </td>
    <%# <%= render partial: "entries/cell", locals: {period: period, metric: row.metric} %>
  <% end %>
</tr>
